.content{
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
    border-radius: 8px;
}

.normal2{
    font-family: "Arial";
    font-size: 50px;
    font-weight: 250;
    color: #000000;
}

.c-block{
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
    border-radius: 8px;

}